<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <style>
        .box{
            box-sizing: border-box;
        }
        #mainbox{
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <div id="mainbox">
        <button class="box">One</button>
        <button class="box">Two</button>
        <button class="box">Three</button>
        <p style="background-color: aquamarine;">Four</p>
        <h1>Five</h1>
    </div>
</body>
</html>